# Ignore data files
data/
*.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore Python environments (optional)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

glove/
*.txt

# Ignore Jupyter Notebook files
.vscode/